<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <title>Document</title>
</head>
<body>
    <h1>Лабораторная работа 5</h1>
    <div>
        <strong>Название:</strong> Разработка механизмов аутентификации и авторизации для WEB-приложений на Flask
    </div>
    <div>
        <strong>Описание:</strong> Изучение механизмов авторизации и регистрации при использовании микрофреймворка Flask
    </div>
    
    <a href="/logout"><button>Выход</button></a>
</body>
</html>